.background-img {
	-webkit-animation: fadeIn 2.5s ease 0s 1 normal;
	animation: fadeIn 2.5s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.home-content-title {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
}

.home-content-text {
	position: absolute;
  	top: 64%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
}

.form-signup {
	margin: 70px 300px 300px;
}

.form-signin {
	margin: 70px 300px 300px;
}

.form-floating {
	margin-top: 30px;
}

.form-setting {
	margin: 70px 300px 300px;
}

.inventory-create {
	margin: 70px 300px 300px;
}

.inventory-processing {
	margin: 35px auto 90px auto;

}

.search-box {
	margin: 5px;
}

.search-button {
	margin: 5px;
}

.create-button {
	margin: 5px 5px 5px 50px;
}

.recommend-message {
	margin: 20px;
	font-size: 15px;
}

a.edit {
	color: aqua;
	text-decoration: none;
}

a.delete {
	color: tomato;
	text-decoration: none;
}

a.edit:hover {
	color: mediumblue;
}

a.delete:hover {
	color: maroon;
}