.form-signup {
	margin: 70px 200px 200px;
}

.form-signin {
	margin: 70px 200px 200px;
}

.form-floating {
	margin-top: 30px;
}

.form-wrap {
	margin: 70px 200px 200px;
}

.create {
	margin: 70px 200px 200px;
}

.processing {
	margin: 35px auto 90px auto;

}

.inventory-list {
	margin-bottom: 200px;
}

.search-box {
	margin: 5px;
}

.search-button {
	margin: 5px;
}

.card {
	margin: 30px;
}

.search-text {
	margin: 0px 15px 0px 15px;
}

.search-pulldown {
	margin: 0px 15px 0px 15px;
}

.card-text {
	margin-left: 25px;
}

.create-button {
	margin: 5px 5px 5px 50px;
}

.delete-button {
	margin: 5px 5px 5px 50px;
}

.recommend-message {
	margin: 20px;
	font-size: 15px;
}

a.update {
	color: cornflowerblue;
	text-decoration: none;
}

a.delete {
	color: tomato;
	text-decoration: none;
}

a.update:hover {
	color: mediumblue;
}

a.delete:hover {
	color: maroon;
}

.message-button {
	margin-top: 112px;
}

.message-textarea {
	resize: none;
	overflow: hidden;
}

.message-submit {
	
}